---
import { Image } from "astro:assets";
import MobileNav from "./components/mobile";
import Navigation from "./components/navigation";
import LOGO from "../../../../assets/images/logo.webp";

interface Props {
  algolia?: {
    ALGOLIA_APPLICATION_ID?: string;
    ALGOLIA_INDEX_NAME?: string;
    ALGOLIA_ADMIN_API_KEY?: string;
  };
}

const { algolia } = Astro.props;
---

<header class="flex items-center justify-between py-3 md:py-10">
  <a href="/" aria-label="Eduardo Alvarez logo">
    <Image
      src={LOGO}
      alt="Eduardo Alvarez logo"
      class="min-w-[180px] min-h-[87px]"
      width="180"
      height="87"
      loading="lazy"
      decoding="async"
    />
  </a>

  <div class="flex items-center gap-4 leading-5 sm:space-x-6">
    <Navigation client:load algolia={algolia} />
    <MobileNav client:visible />
  </div>
</header>
