@import '../../assets/scss/colors.scss';

.loader {
	left: 0;
	min-height: 100vh;
	min-width: 100vw;
	position: fixed;
	top: 0;
	background-color: rgba(144, 144, 144, 0.5);
	z-index: 10;

	&__inner {
		color: $darkblue_color;
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 80vh;
		justify-content: center;
		width: 100vw;

		&__spinner {
			i {
				font-size: 80px;
			}
		}

		&__text {
			margin-top: 20px;
			font-size: 20px;
			font-weight: 600;
		}
	}
}
