$blue-color: #34495e;
$darkblue_color: #002a3a;
$green-color: #355f55;
$orange-color: #a34e00;
$purple-color: #3f355f;
$grey-color: #838383;
$lightgrey-color: #e5e5e5;
$black-color: #000;
$white-color: #fff;
