// White color
$white-color-with-opacity: rgba(255, 255, 255, 0);
$white-color-with-opacity-75: rbga(255, 255, 255, .75);
$white-color-with-opacity-50: rbga(255, 255, 255, .5);
$white-color-with-opacity-25: rbga(255, 255, 255, .25);
$white-color-whitout-opacity: rgba(255, 255, 255, 1);

// Gray color
$gray-color-with-opacity: rgba(190, 190, 190, 0);
$gray-color-with-opacity-75: rgba(190, 190, 190, .75);
$gray-color-with-opacity-50: rgba(190, 190, 190, .5);
$gray-color-with-opacity-25: rgba(190, 190, 190, .25);
$gray-color-whitout-opacity: rgba(190, 190, 190, 1);

//BlackGray Color
$blackgray-color-with-opacity: rgba(41, 40, 32, 0);
$blackgray-color-with-opacity-75: rgba(41, 40, 32, .75);
$blackgray-color-with-opacity-50: rgba(41, 40, 32, .5);
$blackgray-color-with-opacity-25: rgba(41, 40, 32, .25);
$blackgray-color-without-opacity: rgba(41, 40, 32, 1);

// Green color
$green-color-with-opacity: rgba(94, 143, 134, 0);
$green-color-with-opacity-75: rgba(94, 143, 134, .75);
$green-color-with-opacity-50: rgba(94, 143, 134, .5);
$green-color-with-opacity-25: rgba(94, 143, 134, .25);
$green-color-whitout-opacity: rgba(94, 143, 134, 1);

//LightGreen Color
$lightgreen-color-with-opacity: rgba(138, 178, 170, 0);
$lightgreen-color-with-opacity-75: rgba(138, 178, 170, .75);
$lightgreen-color-with-opacity-50: rgba(138, 178, 170, .5);
$lightgreen-color-with-opacity-25: rgba(138, 178, 170, .25);
$lightgreen-color-whitout-opacity: rgba(138, 178, 170, 1);
