$lightgrey_color: #f0f0f0;
$grey_color: #909090;
$darkgrey_color: #484848;

$blue_color: #007bff;
$darkblue_color: #002a3a;

$white_color: #fff;

$blue-color: #34495e;
$green-color: #355f55;
$orange-color: #a34e00;
$purple-color: #3f355f;
$grey-color: #cccccc;
$black-color: #000;
$white-color: #fff;
