@import './colors';

.container {
    color: $darkblue_color;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 40px;

    &__title {
        font-family: 'Raleway', sans-serif !important;
        font-size: 1.3em;
        margin-bottom: 15px;
        text-transform: uppercase;

        @media (min-width: 1200px) {
            font-size: 1.5em;
        }
    }

    &__content {
        font-size: .9em;
        font-weight: 300;

        @media (min-width: 1200px) {
            font-size: 1em;
        }

        &__destaked {
            color: $darkgrey_color;
            font-style: italic;
            font-weight: 500;
        }

        &__link {
            font-size: .9em;
            font-weight: 600;
            color: $blue_color;

            &:active,
            &:link,
            &:visited {
                color: $blue_color;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}
