@import './colors';

.container {
    color: $darkblue_color;

    &__title {
        font-family: 'Raleway', sans-serif;
        font-size: 1.3em;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    &__content {
        font-size: .9em;
        font-weight: 300;

        &__link {
            font-size: .9em;
            font-weight: 600;
            color: $darkblue_color;

            &:active,
            &:link,
            &:visited {
                color: $darkblue_color;
            }

            &:hover {
                color: $blue_color;
                text-decoration: none;
            }
        }
    }
}
