# build output
dist/

# generated types
.astro/

# Vercel
.vercel

# dependencies
node_modules/

# NPM
.npmrc

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.zsh_history_project

# admin section
src/layouts/admin*
src/pages/admin*
src/pages/api/create-new-post.ts

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
