---
import Layout from "../../layouts/base.astro";
import { getPaginatedPosts } from "../../utils/sanity";

const [posts, total] = await getPaginatedPosts({ limit: 10, current: 1 });
---

<Layout>
  <h1>Artículos</h1>

  <ul>
    {
      posts.map((post) => (
        <li key={post.slug}>
          <a href={`/articles/${post.slug.current}`}>{post.title}</a>
        </li>
      ))
    }
  </ul>

  <div class="flex justify-evenly">
    {
      total !== 1 && (
        <button class="flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width={1.5}
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5 8.25 12l7.5-7.5"
            />
          </svg>
          artículos mas recientes
        </button>
      )
    }

    <button class="flex items-center gap-2">
      artículos anteriores
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width={1.5}
        stroke="currentColor"
        class="w-5 h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
      </svg>
    </button>
  </div>
</Layout>
