@import '../../assets/scss/colors';
@import '../../assets/scss/mixins/fonts';

.blog-article {
	&__header {
		@include roboto-font;
		@include set-font(1.2, 500, $black-color, 20);

		display: flex;
		flex-direction: column;

		@media (min-width: 992px) {
			margin-bottom: 20px;
		}

		&__info {
			@include poppins-font;
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;

			@media (min-width: 992px) {
				flex-direction: row;
			}

			&__read,
			&__published,
			&__tags {
				@include set-font(0.9, 400, $green-color, 20);
				margin-top: 3px;
				position: relative;

				@media (min-width: 992px) {
					margin-right: 25px;

					&:not(:first-child) {
						&:before {
							content: '';
							width: 4px;
							height: 4px;
							border-radius: 50%;
							position: absolute;
							background-color: $green-color;
							left: -15px;
							top: 8px;
						}
					}
				}

				i {
					margin-right: 5px;

					@media (min-width: 992px) {
						margin-right: 10px;
					}
				}
			}
		}
	}

	&__body {
		width: 100%;
		&__header {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			margin-bottom: 60px;

			&__image {
				max-width: 100%;
				width: 100%;
				box-shadow: 5px 5px 9px 3px #aaaaaa;
				margin-bottom: 30px;

				@media (min-width: 1200px) {
					max-width: 80%;
					width: 80%;
				}
			}
		}

		&__content {
			@media (min-width: 1200px) {
				margin-left: auto;
				margin-right: auto;
				width: 70%;
			}

			p {
				img {
					max-width: 100%;
					margin-left: auto;
					margin-right: auto;
					box-shadow: 5px 5px 9px 3px #aaaaaa;
					display: block;

					@media (min-width: 1200px) {
						max-width: 80%;
						width: 80%;
					}
				}
			}
		}
	}
}

.highlight {
	display: block;

	margin-top: 0;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #f5f5f5;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #282c34;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	overflow: hidden;

	&__header {
		@include roboto-font;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 40px;
		display: flex;
		padding-left: 20px;
		justify-content: flex-start;
		align-items: center;
		background-color: #282c34;
		border-bottom: 1px solid rgb(107, 107, 107);

		&__text {
			position: absolute;
		}
	}

	&__body {
		padding-top: 50px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 15px;
		width: 100%;
		overflow: auto;
	}

	@media (min-width: 992px) {
		width: 50%;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 20px;
		min-width: 30px;
		width: content;
		padding-left: 10px;
		padding-right: 10px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	&[data-language='js'],
	&[data-language='javascript'] {
		&:after {
			content: 'JavaScript';
			background-color: #f0db4f;
			color: #333;
		}
	}

	&[data-language='react'] {
		&:after {
			content: 'React';
			background-color: #61dafb;
			color: #282c34;
		}
	}

	&[data-language='node'] {
		&:after {
			content: 'Node';
			background-color: #026e00;
			color: #f5f5f5;
		}
	}

	&[data-language='css'] {
		&:after {
			content: 'CSS';
			background-color: #264de4;
			color: #f5f5f5;
		}
	}

	&[data-language='scss'] {
		&:after {
			content: 'SCSS';
			background-color: #bf4080;
			color: #f5f5f5;
		}
	}

	&[data-language='html'] {
		&:after {
			content: 'HTML';
			background-color: #e44d26;
			color: #f5f5f5;
		}
	}

	&[data-language='bash'] {
		&:after {
			content: 'Bash';
			background-color: #f5f5f5;
			color: #333;
		}
	}

	&[data-language='md'] {
		&:after {
			content: 'MarkDown';
			background-color: #03a7dd;
			color: #fff;
		}
	}

	code {
		&:before {
			display: block;
			line-height: 1.5rem;
			counter-increment: line;
		}
	}
}

.hljs-comment,
.hljs-quote {
	color: #7f848e;
	font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag {
	color: #d19a66;
}
.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
	color: #98c379;
}
.hljs-subst {
	color: #519f50;
}
.hljs-tag,
.hljs-name {
	color: #e8bf6a;
}
.hljs-type {
	color: #da4939;
}
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
	color: #6d9cbe;
}
.hljs-params {
	color: #e06c75;
}
.hljs-attribute {
	color: #cda869;
}
.hljs-meta {
	color: #9b859d;
}
.hljs-title,
.hljs-section {
	color: #ffc66d;
}
.hljs-addition {
	background-color: #144212;
	color: #e6e1dc;
	display: inline-block;
	width: 100%;
}
.hljs-deletion {
	background-color: #600;
	color: #e6e1dc;
	display: inline-block;
	width: 100%;
}
.hljs-selector-class {
	color: #e06c75;
}
.hljs-selector-id {
	color: #8b98ab;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: bold;
}
.hljs-link {
	text-decoration: underline;
}
