@import '../../assets/scss/colors';
@import '../../assets/scss/mixins/fonts';

.article {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;

	@media (min-width: 1200px) {
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}

	&:first-child {
		margin-top: 60px;
	}

	&__header {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}

		&__title {
			@include poppins-font;
			@include set-font(1.25, bold, $black-color, 20);

			position: relative;
			margin-left: 10px;
			margin-bottom: 5px;

			&__first {
				position: absolute;
				font-size: 2.3rem;
				top: -10px;
				margin-left: -10px;
				color: $black-color;
				opacity: 0.2;
			}
		}

		&__info {
			@include poppins-font;
			@include set-font(0.875, 500, $green-color, 20);
			margin-bottom: 15px;
			margin-left: 0;
			margin-right: 0;
			margin-top: 10px;

			@media (min-width: 1200px) {
				margin-top: 5px;
			}

			&__read {
				margin-right: 10px;
				i {
					margin-right: 5px;
				}
			}

			&__published {
				margin-right: 10px;
				i {
					margin-right: 5px;
				}
			}
		}
	}

	&__content {
		@include poppins-font;
		@include set-font(0.875, 500, $black-color, 20);

		margin-top: 10px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		position: relative;
		height: 30px;
		align-items: baseline;

		&__read-more {
			@include poppins-font;
			@include set-font(0.875, 400, $black-color, 20);
			position: relative;
			text-decoration: none;

			&:hover {
				text-decoration: none;
				color: $black-color;
			}

			&:before {
				display: inline-flex;
				content: '';
				border-top: 1px solid $black-color;
				width: 50px;
				margin-left: 0;
				margin-top: -1px;
				margin-right: 10px;
				height: 9px;
				align-items: center;
			}
		}

		&__share {
			color: $purple-color;
			display: flex;
			width: 50%;
			justify-content: flex-end;

			@media (min-width: 1200px) {
				&:before {
					content: 'Compartir por:';
					font-weight: 500;
					margin-right: 8px;
				}
			}

			&__link {
				color: $purple-color;
				font-size: 1rem;

				&:hover {
					text-decoration: none;
					color: $purple-color;
				}

				&:not(:first-child) {
					margin-left: 8px;
				}
			}
		}
	}
}
