  .articles {
    background-color: $white;
    padding: 30px 20px;

    &__header {
      display: flex;
      flex-direction: column;

      &__title {
        color: $black-grey;
        font-size: $size-md;
        margin-bottom: 5px;
      }

      &__subtitle {
        color: $info;
        font-size: $size-xs;
        margin-bottom: 30px;
        text-decoration: none;
        width: max-content;

        &:hover {
          color: $secondary;
          text-decoration: none;
        }
      }
    }

    @media screen and (min-width: 1200px) {
      padding: 50px;
    }

    >.article {
      &:not(:last-of-type) {
        border-bottom: 1px solid $grey;
      }
    }

    &__footer {
      display: flex;
      justify-content: space-evenly;
      margin-top: 50px;
      width: 100%;

      &__navigation {
        color: $secondary;
        cursor: pointer;

        &__text {
          >span {
            display: none;

            @media screen and (min-width: 720px) {
              display: inline;

              &:first-of-type {
                margin-right: 5px;
              }

              &:last-of-type {
                margin-left: 5px;
              }
            }
          }
        }

        &__arrow {
          &:first-of-type {
            margin-right: 10px;
          }

          &:last-of-type {
            margin-left: 10px;
          }
        }
      }
    }
  }