.articles {
  background-color: $white;
  padding: $margin-hero $margin-lg $margin-xxlg;

  &__header {
    display: flex;
    flex-direction: column;

    &__title {
      color: $black-grey;
      font-size: $size-xlg;
      margin-bottom: $margin-xxlg;
    }

    &__subtitle {
      color: $info;
      font-size: $size-xs;
      margin-bottom: $margin-xxlg;
      text-decoration: none;
      width: max-content;

      &:hover {
        color: $secondary;
        text-decoration: none;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    padding: $margin-hero;
  }

  > .article {
    &:not(:last-of-type) {
      border-bottom: 1px solid $grey;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: $margin-hero;
    width: 100%;

    &__navigation {
      color: $secondary;
      cursor: pointer;

      &__text {
        > span {
          display: none;

          @media screen and (min-width: 768px) {
            display: inline;

            &:first-of-type {
              margin-right: $margin-xxs;
            }

            &:last-of-type {
              margin-left: $margin-xxs;
            }
          }
        }
      }

      &__arrow {
        &:first-of-type {
          margin-right: $margin-xs;
        }

        &:last-of-type {
          margin-left: $margin-xs;
        }
      }
    }
  }
}
