.article {
  &__header {
    display: flex;
    flex-direction: column;

    &__title {
      color: $primary;
      font-family: "Hero";
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    &__info {
      font-family: "Roboto";
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      
      &__content {
        color: $black;
        position: relative;

        &:not(:first-child) {
          margin-top: 5px;
        }

        &__time {
          margin-left: 5px;
        }

        &__icon {
          color: $primary;
          margin-right: 10px;
        }
      }
    }

    &__hero {
      width: 100%;
      border-top: 15px solid $info;
      border-left: 5px solid $info;
      border-bottom: 15px solid $info;
      border-right: 5px solid $info;
      background-color: $black;
      // cursor: pointer;
      position: relative;

      /*&__image {
        opacity: .3;
      }*/
    }
  }

  &__body {
    &__header {
      &__image {
        max-width: 100%;
        width: 100%;
        box-shadow: 5px 5px 9px 3px #aaaaaa;
        margin-bottom: 30px;

        @media (min-width: 1200px) {
          max-width: 80%;
          width: 80%;
        }
      }
    }

    &__content {
      font-family: "Roboto";
      &__article {
        h1 {
          font-family: "Hero";
          color: $black;
          position: relative;
          margin-bottom: 20px;
          padding-top: 30px;

          &:not(:first-child) {
            margin-top: 50px;
          }

          @media (min-width: 1200px) {
            color: $black;
            padding-top: 0;
          }
        }

        p {
          color: $black;

          @media (min-width: 1200px) {
            color: $black;
          }

          strong {
            font-weight: 500;
          }

          em {
            font-style: italic;
          }

          a {
            font-weight: 400;
            text-decoration: none;
            color: #a34e00;

            &:hover {
              text-decoration: none;
            }
          }

          img {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 5px 5px 9px 3px #aaaaaa;
            display: block;
            margin-top: 50px;
            margin-bottom: 50px;

            @media (min-width: 1200px) {
              max-width: 80%;
              width: 80%;
            }
          }
        }

        ul {
          li {
            color: $black;

            @media (min-width: 1200px) {
              color: $black;
            }

            strong {
              font-weight: 500;
            }

            em {
              font-style: italic;
            }

            a {
              font-weight: 400;
              text-decoration: none;
              color: #a34e00;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}