.article {
  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-top: 25px;

    &__title {
      color: $primary;
      font-family: "Hero";
      font-size: $size-xxlg;
      font-weight: 500;
      margin-bottom: $margin-xlg;
    }

    &__hero {
      width: 100%;
      border-top: $margin-md solid $info;
      border-left: $margin-xxs solid $info;
      border-bottom: $margin-md solid $info;
      border-right: $margin-xxs solid $info;
      background-color: $black;
      cursor: pointer;
      position: relative;
      margin-top: $margin-lg;

      /*&__image {
        opacity: .3;
      }*/
    }
  }

  &__body {
    padding-top: 30px;

    &__image {
      margin-top: 30px;
      max-width: 100%;
      width: 100%;
      box-shadow: $box-shadow;
      margin-bottom: $margin-xxlg;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: 1200px) {
        width: max-content;
      }
    }

    &__content {
      @include markdown-styles;
    }
  }
}

.errata {
  text-align: center;
  margin-top: 50px;

  a {
    color: $secondary;
    text-decoration: underline;
  }
}