.home {
  &__presentation {
    display: flex;
    flex-direction: column;
    padding-top: $margin-lg;
    padding-bottom: $margin-lg;

    @media screen and (min-width: 768px) {
      align-items: center;
      flex-direction: row;
      height: max-content;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }

    @media screen and (min-width: 1200px) {
      width: 50%;
    }

    &__image {
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 20px;

      @media screen and (min-width: 768px) {
        padding-bottom: 0;
      }

      &__img {
        width: 200px;

        @media screen and (min-width: 768px) {
          width: 300px;
        }
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      width: 80%;

      @media screen and (min-width: 768px) {
        padding-left: 30px;
        width: 100%;
      }

      @media screen and (min-width: 1200px) {
        padding-left: 40px;
      }

      &__title {
        font-size: $size-xlg;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: center;

        @media screen and (min-width: 768px) {
          text-align: left;
        }

        @media screen and (min-width: 1200px) {
          font-size: $size-xlg;
        }
      }

      &__text {
        line-height: 1.2;
        font-size: $size-md;
      }

      &__social_network {
        display: flex;
        margin-top: $margin-lg;
        justify-content: center;

        @media screen and (min-width: 768px) {
          justify-content: flex-start;
        }

        &__link {
          margin-right: $margin-md;

          &__icon {
            color: $glacier;
            font-size: $size-xlg;

            &:hover {
              color: $mandy;
            }
          }
        }
      }
    }
  }

  &__aside {
    padding-left: 0;
    padding-right: 0;
  }
}
