.home {
  
  .articles {
    background-color: $white;
    padding: 30px 20px;
    
    &__header {
      display: flex;
      flex-direction: column;

      &__title {
        color: $black-grey;
        font-size: $size-md;        
        padding-bottom: 30px;
      }
    }
    
    @media screen and (min-width: 1200px) {
      padding: 50px;
    }

    > .article {
      &:not(:last-child){
        border-bottom: 1px solid $grey;
      }
    }
  }
}