@import '../colors';

@mixin poppins-font {
	font-family: 'Poppins', sans-serif;
}

@mixin roboto-font {
	font-family: 'Roboto', sans-serif;
}

@mixin set-font($size, $bold, $color, $line_height) {
	color: $color;
	font-size: $size#{'rem'};
	font-style: normal;
	font-weight: $bold;
	line-height: $line_height#{'px'};
}

@mixin fonts-header-title($fs) {
	@include poppins-font;
	@include set-font($fs, bold, $blue-color, 50);
}

@mixin fonts-header-subtitle($fs) {
	@include poppins-font;
	@include set-font($fs, 300, $black-color, 33);
}

@mixin fonts-body-text($fs) {
	@include roboto-font;
	@include set-font($fs, 300, $black-color, 16);
}

@mixin fonts-footer($fs) {
	@include roboto-font;
	@include set-font($fs, 300, $white-color, 16);
}

@mixin fonts-footer-button($fs) {
	@include poppins-font;
	@include set-font($fs, 300, $white-color, 33);
}
