---
import "../../assets/styles/main.css";
import BaseHead from "../../components/base-head/index.astro";
import Header from "../../components/header/index.astro";
import Subscribe from "../../components/subscribe/index";
import Footer from "../../components/footer/index.astro";
import { ViewTransitions } from "astro:transitions";
import type { Props as BaseHeadProps } from "../../components/base-head/index.astro";

export interface Props {
  seo?: BaseHeadProps;
  withSubscribe?: boolean;
}

const { seo, withSubscribe } = Astro.props;
---

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "dark") {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>

<html lang="es">
  <BaseHead {...seo} />
  <ViewTransitions fallback="none" />

  <body
    class="bg-white text-black antialiased dark:bg-gray-950 dark:text-white"
  >
    <section class="mx-auto max-w-3xl xl:max-w-6xl px-4 sm:px-6 xl:px-0">
      <div class="flex h-screen flex-col justify-between font-sans">
        <main class="mb-auto">
          <Header />

          <slot />

          {
            !!withSubscribe && (
              <div class="flex items-center justify-center pt-4">
                <Subscribe client:load />
              </div>
            )
          }

          <Footer />
        </main>
      </div>
    </section>
  </body>
</html>
