@import '../../assets/scss/colors.scss';

.logo {
	font-family: 'Amatic SC', cursive;
	font-size: 2em;

	@media (min-width: 768px) {
		font-size: 2.5em;
	}

	&::after {
		color: $blue_color;
		content: '/>';
		margin-left: 3px;
	}

	&::before {
		color: $blue_color;
		content: '<';
		margin-right: 3px;
	}
}
