@mixin markdown-styles {
  color: $black;
  font-family: "Roboto";

  h2 {
    color: $glacier;
    font-family: "Hero";
    font-size: $size-xlg;
    font-weight: 500;
    margin-bottom: $margin-xxlg;
    padding-top: $margin-hero;
    position: relative;

    @media screen and (min-width: 768px) {
      padding-top: $margin-lg;
    }
  }

  h3 {
    font-family: "Hero";
    font-size: $size-md;
    font-weight: 500;
    margin-bottom: $margin-xs;
    margin-top: $margin-xs;
    position: relative;
  }

  .subtitle {
    color: $grey;
    font-family: "Hero";
    font-size: $size-md;
    font-weight: 400;
    line-height: 1;
    margin-bottom: $margin-xxlg;
    margin-top: -$margin-xxlg;
  }

  p {
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: $margin-xxlg;

    strong {
      font-weight: 400;
    }

    em {
      font-style: italic;
    }

    a {
      color: $glacier;
      font-weight: 400;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: $mandy;
      }
    }

    img {
      box-shadow: $box-shadow;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: $margin-hero;
      max-width: 100%;

      @media (min-width: 1200px) {
        max-width: 80%;
        width: 80%;
      }
    }

    code {
      background-color: $wild-sand;
      border-radius: 3px;
      color: $primary;
      font-style: italic;
      font-weight: bolder;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  blockquote {
    background: $blockquote-color;
    border-radius: $margin-xxs;
    box-shadow: $box-shadow;
    color: $blockquote-text;
    margin-bottom: $margin-xxlg;
    margin-top: $margin-hero;
    padding: $margin-md $margin-md $margin-xlg;

    p {
      font-size: 16px;
      line-height: 1.2;
      margin: 0;

      a {
        color: $info;
        font-weight: bolder;

        &:hover {
          color: $secondary;
        }
      }

      code {
        background-color: $blockquote-code;
        border-radius: 3px;
        color: $primary;
        display: contents;
        font-style: italic;
        font-weight: bolder;
        padding-left: 3px;
        padding-right: 3px;
      }
    }

    ul {
      li {
        font-size: 16px;
        line-height: 1.2;

        &:not(:first-child) {
          @media (min-width: 720px) {
            margin-top: 5px;
          }
        }

        &:last-child {
          margin-bottom: 0px;
        }

        &::before {
          background-color: $primary;
          border-radius: 50%;
          content: "\f111";
          height: 5px;
          left: 0;
          position: absolute;
          top: 5px;
          width: 5px;
        }
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 20px;

    li {
      display: block;
      line-height: 1.8;
      padding-left: 15px;
      position: relative;

      &::before {
        background-color: $primary;
        border-radius: 50%;
        content: "\f111";
        height: 5px;
        left: 0;
        position: absolute;
        top: 10px;
        width: 5px;
      }

      strong {
        display: contents;
        font-weight: 400;
      }

      em {
        display: contents;
        font-style: italic;
      }

      a {
        color: $info;
        display: contents;
        text-decoration: none;

        &:hover {
          color: $secondary;
          text-decoration: none;
        }
      }

      code {
        background-color: $wild-sand;
        border-radius: 3px;
        color: $primary;
        font-style: italic;
        font-weight: bolder;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .custom-content {
    width: 100%;

    img {
      display: flex;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      max-width: 100%;
    }
  }
}
