@mixin markdown-styles {
  color: $black;
  font-family: "Roboto";

  h2 {
    font-family: "Hero";
    font-size: $size-xxlg;
    margin-bottom: $margin-xxlg;
    padding-top: 70px;
    position: relative;

    @media (min-width: 1200px) {
      padding-top: $margin-xxlg;
    }
  }

  h3 {
    font-size: $size-xlg;
    font-family: "Hero";
    margin-bottom: $margin-xxlg;
    padding-top: 50px;
    position: relative;

    @media (min-width: 1200px) {
      padding-top: $margin-xlg;
    }
  }

  .subtitle {
    color: $info;
    font-family: "Hero";
    font-size: $size-lg;
    font-weight: 400;
    line-height: 1;
    margin-bottom: $margin-xxlg;
    margin-top: -$margin-xxlg;
  }

  p {
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: $margin-xxlg;

    strong {
      font-weight: 400;
    }

    em {
      font-style: italic;
    }

    a {
      color: $secondary;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      box-shadow: $box-shadow;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: $margin-hero;
      max-width: 100%;

      @media (min-width: 1200px) {
        max-width: 80%;
        width: 80%;
      }
    }
  }

  blockquote {
    background: #f0db4f;
    border-radius: 6px;
    box-shadow: 5px 5px 9px 3px #aaaaaa;
    color: #2c3435;
    margin-bottom: 32px;
    margin-top: 48px;
    padding: 16px;

    p {
      margin: 0;

      a {
        color: $secondary;
        font-weight: bolder;
      }
    }
  }

  ul {
    font-weight: 300;
    margin-top: 20px;

    li {
      align-items: center;
      display: flex;
      padding-left: 15px;
      position: relative;

      &:not(:first-child) {
        margin-top: 15px;

        @media (min-width: 720px) {
          margin-top: 10px;
        }
      }

      &::before {
        background-color: $primary;
        border-radius: 50%;
        content: '\f111';
        height: 5px;
        left: 0;
        position: absolute;
        width: 5px;
      }

      strong {
        display: contents;
        font-weight: 400;
      }

      em {
        display: contents;
        font-style: italic;
      }

      a {
        color: $secondary;
        display: contents;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .custom-content {
    width: 100%;

    img {
      display: flex;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      max-width: 100%;
    }
  }
}