.footer {
  background-color: $secondary;
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  padding: 0 25px;
  text-align: center;
  width: 100%;

  @media screen and (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    height: max-content;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  &-button {
    button {
      border-radius: 5px;
    }
    @media screen and (min-width: 768px) {
      button {
        width: 250px;
      }
    }

    &-text {
      font-weight: 400;
      margin-left: 15px;
    }
  }

  &-legals {
    display: none;
    text-align: left;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }

    .legal {
      text-decoration: underline;

      &:not(:first-child) {
        margin-left: 10px;
      }
    }

    .made-by {
      margin-top: 10px;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .copyright {
    @media screen and (min-width: 768px) {
      width: 200px;
    }

    img {
      margin-left: auto;
      margin-right: auto;
      width: 300px;

      &.small {
        display: block;

        @media screen and (min-width: 768px) {
          display: none;
        }
      }

      &.medium {
        display: none;

        @media screen and (min-width: 768px) {
          display: block;
        }
      }
    }

    p {
      margin-top: 10px;
      text-align: center;

      @media screen and (min-width: 768px) {
        text-align: left;
      }
    }
  }
}
