.info {
  display: flex;
  flex-direction: column;
  font-family: "Hero";
  margin-bottom: $margin-lg;
  margin-top: $margin-xs;

  &.horizontal {
    @media screen and (min-width: 1200px) {
      align-items: center;
      flex-direction: row;
      margin-bottom: $margin-md;
      margin-top: $margin-xs;
    }
  }

  &__content {
    color: $black;
    display: flex;
    position: relative;

    &:not(:first-child) {
      margin-left: 0;
      margin-top: $margin-xxs;
    }

    .info.horizontal & {
      @media screen and (min-width: 1200px) {
        align-items: center;
        min-height: 20px;

        &:first-child {
          margin-top: $margin-xxs;
        }

        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }

    &__icon {
      color: $primary;
      margin-right: 10px;
      width: 15px;
    }

    &__time {
      margin-left: $margin-xxs;
    }

    .tag {
      &:not(:first-of-type) {
        &::before {
          content: "-";
          margin-left: $margin-xxs;
          margin-right: $margin-xxs;
        }
      }
    }
  }
}