.label {
  background-color: #6c757d;
  border-radius: 0.25rem;
  color: #ffffff;
  display: inline-block;
  font-family: "Hero";
  font-size: 75%;
  font-weight: 400;
  line-height: 1;
  margin-right: 5px;
  padding: 0.25em 0.4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;

  &.desarrollo-web {
    background-color: #c3c3c3;
    color: #000000;
  }

  &.introduccion {
    color: #fff;
    background-color: #6c757d;
  }

  &.personal {
    background-color: #cb171e;
    color: #ebebeb;
  }

  &.viajes {
    background-color: #007acc;
    color: #ebebeb;
  }

  &.css {
    background-color: #264de4;
    color: #ebebeb;
  }

  &.html {
    background-color: #e34c26;
    color: #ebebeb;
  }

  &.javascript {
    background-color: #f0db4f;
    color: #2c3435;
  }

  &.react {
    background-color: #60dafb;
    color: #2c3435;
  }

  &.node {
    background-color: #3c873a;
    color: #ebebeb;
  }

  &.mongo {
    background-color: #3fa037;
    color: #ebebeb;
  }
}
