.nav {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid $wild-sand;
  box-sizing: border-box;

  @media screen and (min-width: 720px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;

    @media screen and (min-width: 720px) {
      justify-content: space-between;
    }

    &__logo {
      width: 180px;

      &__img {
        max-width: 100%;
      }
    }

    &__menu {
      &__bar {
        position: fixed;
        width: 50px;
        height: 50px;
        font-size: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        color: $white;
        right: 30px;
        bottom: 30px;
        z-index: 2100;
        
        &.mobile {
          background-color: $white;
          color: $primary;
        }
        
        @media screen and (min-width: 720px) {
          display: none;
        }
      }
      
      &__content{
        position: fixed;
        right: -280px;
        background-color: $primary;
        color: $white;
        width: 280px;
        height: 100%;
        z-index: 1048;
        top: 0;
        justify-content: center;
        align-items: center;
        display: flex;
          
        &.mobile {
          right: 0;
            
          @media screen and (orientation: portrait) {
            transition: all 300ms ease-in-out;
          }
        }

        @media screen and (min-width: 720px) {
          position: relative;
          background: transparent;
          width: max-content;
          height: 100%;
          box-shadow: none;
          right: 0;
        }

        &__inner {
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          margin: 0;
          padding: 0;
          width: 100%;
          height: 200px;

          @media screen and (min-width: 720px) {
            display: flex;
            flex-direction: row;
            width: max-content;
            height: max-content;
          }

          &__item {
            display: flex;
            justify-content: center;

            &__link {
              text-decoration: none;
              color: $primary;
              padding: 5px 20px;
              cursor: pointer;

              &.mobile {
                color: $white;
                padding: 0;
              }

              &:hover,
              &.active {
                color: $secondary;
              }
                
              &:hover,
              &:active{
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}