.nav {
  border-bottom: 1px solid $wild-sand;
  box-sizing: border-box;
  height: 100px;
  width: 100%;

  @media screen and (min-width: 720px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  &__inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 720px) {
      justify-content: space-between;
    }

    &__logo {
      width: 180px;

      &__img {
        max-width: 100%;
      }
    }

    &__menu {
      &__bar {
        align-items: center;
        background-color: $primary;
        border-radius: 50%;
        bottom: 30px;
        color: $white;
        display: flex;
        font-size: 20px;
        height: 50px;
        justify-content: center;
        position: fixed;
        right: 30px;
        width: 50px;
        z-index: 2100;

        &.mobile {
          background-color: $white;
          color: $primary;
        }

        @media screen and (min-width: 720px) {
          display: none;
        }
      }

      &__content {
        align-items: center;
        background-color: $primary;
        color: $white;
        display: flex;
        height: 100%;
        justify-content: center;
        position: fixed;
        right: -280px;
        top: 0;
        width: 280px;
        z-index: 1048;

        &.mobile {
          right: 0;

          @media screen and (orientation: portrait) {
            transition: all 300ms ease-in-out;
          }
        }

        @media screen and (min-width: 720px) {
          background: transparent;
          box-shadow: none;
          height: 100%;
          position: relative;
          right: 0;
          width: max-content;
        }

        &__inner {
          display: flex;
          flex-direction: column;
          height: 200px;
          justify-content: space-evenly;
          margin: 0;
          padding: 0;
          width: 100%;

          @media screen and (min-width: 720px) {
            display: flex;
            flex-direction: row;
            height: max-content;
            width: max-content;
          }

          &__item {
            display: flex;
            justify-content: center;

            &__link {
              color: $primary;
              cursor: pointer;
              font-size: $size-xxs;
              font-weight: 500;
              margin-left: 10px;
              margin-right: 10px;
              padding: 5px;
              text-decoration: none;

              @media screen and (min-width: 1200px) {
                font-size: $size-xs;
              }

              &.mobile {
                color: $white;
                padding: 0;

                &:hover,
                &.active {
                  color: $white;
                  padding-bottom: 5px;
                }
              }

              &:hover,
              &.active {
                border-bottom: 3px solid $secondary;
                color: $primary;
              }

              &:hover,
              &:active {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}