.share_section {
  align-items: center;
  bottom: 30px;
  display: flex;
  justify-content: center;
  left: 0px;
  position: fixed;
  transition: bottom 0.3s ease-in-out 0s;
  width: 100%;
  z-index: 1080;

  &:hover {
    bottom: 36px;
  }

  &__inner {
    align-items: center;
    background-color: white;
    border-radius: $margin-md;
    border: 1px solid $black-grey;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    width: 200px;

    @media screen and (min-width: 768px) {
      padding: 5px 0 10px;
      width: 250px;
    }

    &__title {
      color: $black-grey;
      margin-bottom: $margin-xs;

      @media screen and (min-width: 1200px) {
        margin-bottom: $margin-xs;
      }
    }

    &__icons {
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      width: 80%;

      &__icon {
        background-color: transparent;
        border: 0;
        color: $black-grey;
        cursor: pointer;
        transition: color 0.2s ease-in-out 0s;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
