.social-netwoks {
  background-color: $primary;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  width: 100%;

  @media screen and (min-width: 768px) {
    align-items: center;
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  &-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
      min-width: max-content;
      padding-right: 25px;
      text-align: left;
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 15px;
    width: 100%;

    @media screen and (min-width: 768px) {
      justify-content: left;
    }
  }

  &-icon {
    align-items: center;
    background-color: $white;
    display: flex;
    height: 35px;
    justify-content: center;
    margin: 40px 0;
    position: relative;
    width: 50px;

    @media screen and (min-width: 768px) {
      margin-right: 20px;
    }

    &::before {
      border-bottom: 15px solid $white;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: -15px;
      width: 0;
    }

    &::after {
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-top: 15px solid $white;
      bottom: -15px;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      right: 0;
      width: 0;
    }
  }

  &-link {
    color: $primary;
    font-size: 25px;

    &:hover,
    &:active,
    &:focus {
      color: $primary;
    }
  }
}
