.subscribe {
  background-color: $white;
  height: 100%;
  margin-top: $margin-xxlg;
  width: 100%;

  &-container {
    background-color: $wild-sand;
    padding: $margin-lg $margin-md $margin-xxlg;
    border-radius: $margin-xs;

    .subscribe {
      &-title {
        color: $primary;
        font-size: $size-xxlg;
      }

      &-subtitle {
        color: $primary;
        font-weight: 300;
        margin-bottom: $margin-lg;
        margin-top: $margin-xxs;
      }

      &-button {
        margin-top: $margin-lg;

        button {
          border-radius: $margin-xxs;
          background-color: $glacier;

          &:disabled {
            background-color: #c3c3c3;
            border-color: $primary;
            color: $white;

            &:hover {
              cursor: default;
            }
          }

          &:not(:disabled) {
            &:hover {
              background-color: $mandy;
              border-color: $primary;
              color: $white;
            }
          }
        }
      }
    }
  }

  &-inputs-container {
    margin: 0 auto;
    max-width: 350px;

    &_input {
      position: relative;
      max-width: 350px;

      &:last-of-type {
        margin-top: $margin-xs;
      }

      &__icon_container {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 40px;

        &:last-of-type {
          right: 0;
        }

        &:first-of-type {
          left: 0;
        }

        &__icon {
          color: rgb(170, 170, 170);
        }
      }

      &__input {
        appearance: none;
        background-clip: padding-box;
        background-color: #fff;
        border-radius: $margin-xxs;
        border: 1px solid rgb(170, 170, 170);
        display: block;
        font-weight: 300;
        line-height: 1.5;
        padding-left: calc($margin-xxlg + 5px) !important;
        padding: $margin-xxs;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width: 100%;
        color: rgb(10, 63, 102);

        &:focus {
          border-color: rgb(36, 127, 134);
          box-shadow: none;
          outline: 0;
        }
      }
    }
  }
}
