.section-navegation {
  box-sizing: content-box;
  height: 55px;
  margin-left: -25px;
  margin-right: -25px;
  position: sticky;
  top: 0;
  width: 100vw;
  font-family: "Roboto";
  z-index: 20;

  .inner {
    align-content: center;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid $wild-sand;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    width: 100%;

    .item {
      align-content: center;
      display: flex;
      justify-content: center;
      min-width: max-content;
      text-decoration: none;

      &:not(:first-of-type) {
        margin-left: 5px;
      }

      &:hover,
      &:active,
      &:visited,
      &:focus {
        border: 0;
        outline: none;
        text-decoration: none;
      }

      .link {
        color: $info;
        list-style: none;
        padding: 8px 10px;
        text-decoration: none;

        &:hover,
        &:active,
        &:visited,
        &:focus {
          border: 0;
          outline: none;
          text-decoration: none;
        }

        &.current {
          background-color: lighten($info, 30);
          font-weight: 500;
        }
      }
    }
  }
}