.table-of-content {
  font-family: "Roboto";
  position: sticky;
  display: block;
  height: 55px;
  font-weight: 300;
  top: 0;
  z-index: 1024;
  width: 100%;
  border-bottom: 1px solid $wild-sand;

  @media (min-width: 1200px) {
    top: 30px;
    border-bottom: none;
    margin-top: 30px;
  }

  &__container {
    color: $grey;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;

    @media (min-width: 1200px) {
      min-height: 100px;
      height: max-content;
      width: 80%;
      margin-left: auto;
      padding-top: 0;
      padding-bottom: 0;
      margin-right: auto;
    }

    &__inner {
      overflow: auto;
      padding: 0;
      width: 100%;

      &__content {
        padding: 0;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        margin-bottom: 0;

        @media (min-width: 1200px) {
          flex-direction: column;
        }

        &__item {
          color: $grey;
          list-style: none;
          margin: 0;

          &__link {
            display: block;
            color: $info;
            padding-bottom: 5px;
            padding-top: 5px;
            padding: 5px 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            list-style: none;
            text-decoration: none;
            
            &:hover,
            &:active,
            &:visited,
            &:focus {
              color: $info;
              border: 0;
              outline: none;
              text-decoration: none;
              list-style: none;
            }

            @media (min-width: 1200px) {
              &:hover {
                color: $secondary;
              }
            }

            &.current {
              color: $secondary;
            }
          }
        }
      }
    }
  }
}
