@import '../../../assets/scss/colors';

.article {
  border: 1px solid $gray-color-whitout-opacity;
  color: $gray-color-whitout-opacity;
  display: block;
  margin-bottom: 35px;
  padding: 40px 48px 20px;

  &:hover {
    color: $gray-color-whitout-opacity;
    cursor: pointer;
    text-decoration: none;
  }

  &__header {
    &__author-name {
      font-size: 14px;
      margin: 0;
    }

    &__date {
      font-size: 10px;
      margin-bottom: 20px;
    }
  }

  &__body {
    &__title {
      font-family: 'Amatic sc', cursive;
      font-size: 30px;
    }

    &__content {
      text-align: justify;
    }

    &:hover {
      color: $green-color-whitout-opacity;
      cursor: pointer;
    }
  }

  &__footer {
    border-top: 1px solid $gray-color-whitout-opacity;
    margin-top: 30px;
    padding-top: 10px;

    &__title {
      font-size: 10px;
      margin: 0;
    }

    &__categories {
      font-family: 'Amatic sc', cursive;
      font-size: 18px;
    }
  }
}
