---
import { Icon } from "../../../assets/icons";
import { githubArticlePath } from "../../../utils/articles";
const { content } = Astro.props;
---

<header class="xl:pb-6">
  <div class="space-y-1 text-center">
    <dl class="space-y-10">
      <div>
        <dt class="sr-only">Publicado el</dt>
        <dd class="text-base font-avenir leading-6 text-gray-400">
          <time date-time={content.date}>
            {new Date(content.date).toLocaleDateString()}
          </time>
        </dd>
      </div>
    </dl>

    <div>
      <h1
        class="text-3xl font-hero leading-9 tracking-tight text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14"
      >
        {content.title}
      </h1>
    </div>

    <p class="flex gap-1 justify-center">
      ¿Ves alguna errata?
      <a
        class="flex gap-1 text-primary-400 hover:text-primary-600 transition ease-in-out duration-300"
        href={githubArticlePath(content.slug)}
      >
        Haz una pull request <Icon.Github width={25} />
      </a>
    </p>
  </div>
</header>
