---
import Article from "../components/article/index.astro";
import { Article as IArticle } from "../interfaces";
import Layout from "../layouts/base/index.astro";
import ME from "../assets/images/me.webp";
import config from "../settings";
import { Image } from "astro:assets";

type Frontmatter = IArticle;

const posts = await Astro.glob<Frontmatter>("./articles/*.mdx");
posts.sort((a, b) => {
  const dateA = new Date(a.frontmatter.date);
  const dateB = new Date(b.frontmatter.date);
  return dateB.getTime() - dateA.getTime();
});
---

<Layout>
  <div
    class="flex flex-col md:flex-row md:space-x-6 items-center content-center"
  >
    <Image src={ME} alt="Eduardo Alvarez ilustración" />
    <div class="space-y-2">
      <p
        class="font-hero text-3xl text-gray-900 dark:text-gray-100 sm:leading-10 md:leading-14"
      >
        Eduardo Álvarez
      </p>
      <p>
        Software Engineer con +8 años de experiencia. He trabajado en diferentes
        proyectos y empresas, las cuales han aportado conocimientos y
        habilidades las que comparto en este blog.
      </p>

      <div>
        {
          config.social_network
            .filter((social) => social.show)
            .map((social, i) => (
              <span class="inline-flex rounded-md shadow-sm">
                <a
                  href={social.link}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-base font-medium leading-6 text-gray-900 dark:text-gray-100 hover:text-gray-700 dark:hover:text-gray-300 focus:outline-none focus:text-gray-700 dark:focus:text-gray-300 transition ease-in-out duration-150"
                >
                  {social.name}
                </a>
                {i !==
                  config.social_network.filter((social) => social.show).length -
                    1 && (
                  <span class="mx-2 text-gray-500 dark:text-gray-400">/</span>
                )}
              </span>
            ))
        }
      </div>
    </div>
  </div>

  <div class="space-y-2 pb-8 pt-6 md:space-y-5">
    <h1
      class="font-hero text-4xl leading-9 text-gray-900 dark:text-gray-100 sm:leading-10 md:text-3xl"
    >
      Últimos artículos
    </h1>

    <ul class="divide-y divide-gray-200 dark:divide-gray-700">
      {
        posts.slice(0, 5).map((post) => (
          <li class="py-6 first:pt-0">
            <Article article={post.frontmatter} />
          </li>
        ))
      }
    </ul>

    <div class="flex justify-end">
      <a
        href="/articles"
        class="text-base font-medium leading-6 text-gray-900 dark:text-gray-100 hover:text-gray-700 dark:hover:text-gray-300 focus:outline-none focus:text-gray-700 dark:focus:text-gray-300 transition ease-in-out duration-150"
      >
        Ver todos los artículos &rarr;
      </a>
    </div>
  </div>
</Layout>
