---
import Article from "../components/article/index.astro";
import { Article as IArticle } from "../interfaces";
import Layout from "../layouts/base.astro";

type Frontmatter = IArticle;

const posts = await Astro.glob<Frontmatter>("./articles/*.mdx");
---

<Layout>
  <div class="space-y-2 pb-8 pt-6 md:space-y-5">
    <h1
      class="font-hero text-4xl leading-9 text-gray-900 dark:text-gray-100 sm:leading-10 md:text-5xl md:leading-14"
    >
      Últimos artículos
    </h1>

    <ul class="divide-y divide-gray-200 dark:divide-gray-700">
      {
        posts.map((post) => (
          <li class="py-12">
            <Article article={post.frontmatter} />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
