---
import type { GetStaticPaths } from "astro";
import Article from "../../components/article/index.astro";
import type { Article as IArticle, ArticleLayout } from "../../interfaces";
import Layout from "../../layouts/main/index.astro";
import { articlesSort } from "../../utils/articles";
import Pagination from "../../components/pagination/index.astro";

export const prerender = true;

type Frontmatter = IArticle;

const seo = {
  title: "Artículos",
};

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await Astro.glob<Frontmatter>("./*.mdx");
  posts.sort(articlesSort);

  return paginate(posts, {
    pageSize: 8,
  });
}) satisfies GetStaticPaths;

const {
  page: {
    data,
    url: { next, prev },
  },
} = Astro.props;
---

<Layout seo={seo}>
  <div class="flex flex-col">
    <section class="space-y-5 mb-20">
      <hgroup class="mb-8">
        <h1 class="font-hero text-4xl leading-9 text-gray-100 sm:leading-10 md:text-3xl">Artículos</h1>
        <p class="text-gray-400">Todo lo que he escrito en este blog, ordenado por fecha de publicación.</p>
      </hgroup>

      <section class="grid grid-cols-1 gap-5">
        <ul class="divide-y divide-gray-700">
          {
            data.slice(0, 5).map((post: ArticleLayout) => (
              <li class="py-6 first:pt-0">
                <Article article={post.frontmatter} />
              </li>
            ))
          }
        </ul>

        <Pagination next={next} prev={prev} />
      </section>
    </section>
  </div>
</Layout>
