---
import BaseHead from "../components/base-head/index.astro";
import type { Props as BaseHeadProps } from "../components/base-head/index.astro";

export interface Props {
  seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="es">
  <head>
    <BaseHead {...seo} />
    <slot name="head-bottom" />
  </head>
  <body>
    <slot name="header" />
    <main>
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
