---
import MobileNav from "./components/mobile";
import Search from "./components/search";

const { algolia } = Astro.props;
---

<header class="flex items-center justify-between py-3 md:py-10">
  <a href="/" aria-label="Eduardo Alvarez logo">
    <img
      src="/images/logo.webp"
      alt="Eduardo Alvarez logo"
      width="180"
      height="87"
      loading="lazy"
      decoding="async"
      aria-hidden="true"
    />
  </a>

  <div class="flex items-center gap-4 leading-5 sm:space-x-6">
    <Search client:load algolia={algolia} />
    <MobileNav client:visible />
  </div>
</header>
