.notifications {
  font-size: 16px;
  font-weight: 300;
  visibility: hidden;
  width: 100%;
  height: 50px;
  display: flex;
  padding: 10px 20px;
  position: fixed;
  top: 0px;
  align-items: center;
  justify-content: center;
  z-index: 2;

  @media (min-width: 1200px) {
    width: 250px;
    top: 50px;
    right: 20px;
  }

  &.success {
    background-color: rgb(122, 194, 154);
    color: rgb(0, 88, 40);
  }

  &.error {
    background-color: rgb(226, 51, 51);
    color: rgb(117, 0, 0);
  }

  &.show {
    visibility: visible;
    -webkit-animation: fadeinMobile 0.5s, fadeoutMobile 0.5s 4.5s;
    animation: fadeinMobile 0.5s, fadeoutMobile 0.5s 4.5s;
  }

  @media (min-width: 1200px) {
    &.show {
      visibility: visible;
      -webkit-animation: fadeinDesktop 0.5s, fadeoutDesktop 0.5s 4.5s;
      animation: fadeinDesktop 0.5s, fadeoutDesktop 0.5s 4.5s;
    }
  }
}

@keyframes fadeinMobile {
  from {
    top: -10px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes fadeoutMobile {
  from {
    top: 0px;
    opacity: 1;
  }

  to {
    top: -10px;
    opacity: 0;
  }
}

@keyframes fadeinDesktop {
  from {
    top: 30px;
    opacity: 0;
  }

  to {
    top: 50px;
    opacity: 1;
  }
}

@keyframes fadeoutDesktop {
  from {
    top: 50px;
    opacity: 1;
  }

  to {
    top: 30px;
    opacity: 0;
  }
}