---
import MobileNav from "./components/mobile.tsx";
import Search from "./components/search.tsx";
import ToggleButton from "./components/toggle-theme.tsx";
---

<header class="flex items-center justify-between py-10">
  <div>
    <a aria-label="Eduardo Alvarez logo" href="/"> Logo</a>
  </div>

  <div class="flex items-center gap-4 leading-5 sm:space-x-6">
    <Search client:visible />
    <ToggleButton client:visible />
    <MobileNav client:visible />
  </div>
</header>
