@import '../../assets/scss/colors.scss';

.coffee {
    align-items: center;
    color: $darkblue_color;
    display: flex;
    font-size: .9em;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
    width: 100%;

    @media (min-width: 1200px) {
        font-size: 1em;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    &__inner {
        background-color: $lightgrey_color;
        border-radius: .7em;
        width: 100%;

        &__container {
            text-align: center;
            padding-bottom: 15px;
            padding-top: 15px;

            &__title {
                font-family: 'Raleway', sans-serif !important;
                font-size: 1.3em;
                margin-bottom: 8px;
                text-transform: uppercase;
            }

            &__content {
                font-size: .9em;
                font-weight: 300;
            }

            &__btn_bmc {
                background-color: $white_color;
                border: 1px solid transparent;
                border-radius: 3px;
                box-shadow: 0px 1px 2px $grey_color;
                box-sizing: border-box;
                color: $darkblue_color;
                display: inline-flex;
                font-family: 'Cookie', cursive;
                font-size: 22px;
                height: 37px;
                letter-spacing: .6px;
                line-height: 36px;
                margin: 0 auto;
                padding: 1px 9px;
                text-decoration: none;

                -webkit-box-shadow: 0px 1px 2px 2px $grey_color;
                -webkit-box-sizing: border-box;


                &:hover,
                &:active,
                &focus {
                    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
                    text-decoration: none;
                    box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
                    opacity: 0.85;
                    color: #000000;
                }

                img {
                    width: 27px;
                    margin-bottom: 1px;
                    box-shadow: none;
                    border: none;
                    vertical-align: middle;
                }

                span {
                    margin-left: 5px
                }
            }
        }
    }
}
