@import '../../assets/scss/colors';

@mixin generate-after-before($content) {
  color: $green-color-whitout-opacity;
  content: $content;
  font-weight: bolder;
}

.description {
  color: $gray-color-whitout-opacity;
  font-weight: 300;
  height: 100vh;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;

  @media screen and (min-width: 992px) {
    border-right: 1px solid $lightgreen-color-with-opacity-50;
    margin-top: 0;
    padding-right: 41px;
    padding-top: 40px;
  }

  &__logo {
    color: $white-color-whitout-opacity;
    font-family: 'Amatic sc', sans-serif;
    font-size: 1.8em;
    letter-spacing: 3px;
    margin-bottom: 10px;

    &::before {
      @include generate-after-before('<');
      margin-right: 5px;
    }

    &::after {
      @include generate-after-before('/>');
      margin-left: 5px;
    }

    @media screen and (min-width: 992px) {
      margin-bottom: 30px;
    }
  }

  &__img {
    img {
      background-color: $green-color-whitout-opacity;
      width: 70%;
    }
  }

  &__socials {
    margin-bottom: 1em;
    margin-top: 1.5em;

    a {
      color: $white-color-whitout-opacity;

      &:hover {
        color: $green-color-whitout-opacity;
        transition: ease-in .3s;
      }

      i {
        font-size: 1.8em;
        margin-left: .5em;
        margin-right: .5em;
      }
    }

    @media screen and (min-width: 992px) {
      margin-bottom: 2em;
      margin-top: 2em;
    }
  }

  &__information {
    font-family: 'Amatic sc', cursive;
    font-size: 1.3em;

    p {
      margin-bottom: .2em;

      span {
        color: $white-color-whitout-opacity;
      }

      &:nth-child(3) {
        color: $green-color-whitout-opacity;

        span {
          color: $lightgreen-color-whitout-opacity;
        }
      }
    }

    @media screen and (min-width: 992px) {
      font-size: 1.5em;
    }
  }

  hr {
    background: linear-gradient(to right, $white-color-with-opacity, $white-color-whitout-opacity, $white-color-with-opacity);
    border: 0;
    height: 1px;
    margin-bottom: .5em;
    margin-top: .5em;
    text-align: center;
    width: 70%;

    @media screen and (min-width: 992px) {
      margin-bottom: 1em;
      margin-top: 1em;
    }
  }
}
