@import '../../assets/scss/colors.scss';

@mixin generate-after-before($content) {
  color: $green-color-whitout-opacity;
  content: $content;
  font-weight: bolder;
}

.description {
  color: $gray-color-whitout-opacity;
  font-weight: 300;
  height: 100vh;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;

  &__logo {
    color: $white-color-whitout-opacity;
    margin-bottom: 20px;
    font-family: 'Amatic sc', sans-serif;
    font-size: 1.8em;
    text-transform: lowercase;
    letter-spacing: 3px;

    &:before {
      @include generate-after-before("<");
      margin-right: 5px;
    }

    &:after {
      @include generate-after-before("/>");
      margin-left: 5px;
    }
  }

  &__img {
    img {
      background-color: $green-color-whitout-opacity;
      width: 70%;
    }
  }

  &__socials {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    a {
      color: $white-color-whitout-opacity;
      margin-left: 1em;
      margin-right: 1em;

      &:hover {
        color: $green-color-whitout-opacity;
        transition: ease-in .3s;
      }

      i {
        font-size: 1.5em;
      }
    }
  }

  &__information {
    font-family: 'Amatic sc', cursive;
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 20px;
    p {
      span {
        color: $white-color-whitout-opacity;
      }

      &:nth-child(3){
        color: $green-color-whitout-opacity;
      }
    }
  }

  hr {
    background-image: linear-gradient(to right, $white-color-with-opacity, $white-color-whitout-opacity, $white-color-with-opacity);
    border: 0;
    height: 1px;
    text-align: center;
    width: 70%;
  }
}
