@import '../../assets/scss/colors';
@import '../../assets/scss/mixins/fonts';

.home {
	background-color: transparent;
	width: 100%;
	padding-bottom: 50px;

	&__inner {
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;

		@media (min-width: 992px) {
			width: 70%;
		}

		@media (min-width: 1200px) {
			width: 40%;
		}

		&__description {
			@include fonts-body-text(0.875);

			&__text {
				@media (min-width: 1200px) {
					font-size: 1rem;
				}
				strong {
					font-weight: 500;
				}

				a {
					font-weight: 400;
					text-decoration: none;
					color: $orange-color;

					&:hover {
						text-decoration: none;
						color: $orange-color;
					}
				}
			}
		}
	}
}
