$fiord: rgb(10, 63, 102);
$glacier: rgb(36, 127, 134);
$mandy: rgb(234, 82, 132);
$wild-sand: rgb(244, 244, 244);
$grey: rgb(170, 170, 170);
$black-grey: rgb(113, 109, 116);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$primary: $fiord;
$secondary: $mandy;
$info: $glacier;