// Principal Colors
$fiord: rgb(10, 63, 102);
$glacier: rgb(36, 127, 134);
$mandy: rgb(234, 82, 132);
$wild-sand: rgb(244, 244, 244);
$grey: rgb(170, 170, 170);
$black-grey: rgb(113, 109, 116);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

// Darkmode colors 
$fiord-darkmode: rgb(153, 198, 230);
$glacier-darkmode: rgb(35, 126, 133);
$mandy-darkmode: rgb(230, 153, 178);
$wild-sand-darkmode: rgb(36, 36, 36);
$white-darkmode: rgb(28, 28, 33);

// Main colors
$primary: $fiord;
$secondary: $mandy;
$info: $glacier;

// Dark Main Colors
$primary-darkmode: $fiord-darkmode;
$secondary-darkmode: $mandy-darkmode;
$info-darkmode: $glacier-darkmode;

// Blockquote Colors
$blockquote-color: rgb(240, 219, 79);
$blockquote-code: rgb(239, 214, 47);
$blockquote-text: rgb(44, 52, 53);