$fiord: rgb(65, 81, 106);
$glacier: rgb(120, 187, 196);
$mandy: rgb(234, 82, 132);
$wild-sand: rgb(244, 244, 244);
$grey: rgb(170, 170, 170);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$primary: $fiord;
$secondary: $mandy;
$info: $glacier;