@import "./mixins/markdown.mixin";

@import "./components/alert";
@import "./components/article";
@import "./components/disqus_component";
@import "./components/footer";
@import "./components/info_article";
@import "./components/label";
@import "./components/nav";
@import "./components/progress_bar_scrolling";
@import "./components/say.component";
@import "./components/search";
@import "./components/social_networks";
@import "./components/subscribe";
@import "./components/table_of_sections";

@import "./pages/404";
@import "./pages/articles_index";
@import "./pages/articles";
@import "./pages/author";
@import "./pages/blog_template";
@import "./pages/home";

@import "./highlight";

body {
  font-family: "Hero";
}

a {
  text-decoration: none;
}

.title {
  font-size: 28px;
}

.read-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input[type="email"],
input[type="text"] {
  border: 1px solid $primary;
  font-family: "Hero";
  font-size: 20px;
  max-width: 350px;
  outline: none;
  padding: 10px 0;
  width: 100%;

  &.with-icon {
    padding-left: 40px;
  }

  &::placeholder {
    color: $grey;
  }

  &:focus {
    border-color: $info;
  }
}

.button {
  align-items: center;
  border: none;
  color: $black;
  cursor: pointer;
  display: flex;
  font-family: "Hero";
  font-size: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  outline: none;
  padding: 10px 0;
  width: 100%;

  &.secondary {
    background-color: $secondary;
    color: $white;
  }

  &.outline {
    background-color: transparent;
    border: 2px solid $black;
    color: $black;
  }

  &:disabled,
  &:focus,
  &:active,
  &:visited {
    background-color: $grey;
    border-color: $grey;
    color: $black;
    opacity: 0.65;
  }
}
