@import './mixins/markdown.mixin';
@import './components/subscribe';
@import './components/social_networks';
@import './components/footer';
@import './components/table_of_sections';
@import './components/say.component';
@import './components/info_article';
@import './components/article';
@import './components/disqus_component';
@import './components/nav';
@import './components/progress_bar_scrolling';
@import './components/alert';
@import './pages/blog_template';
@import './pages/home';
@import './pages/articles';
@import './pages/articles_index';
@import './pages/author';
@import './highlight';

body {
  font-family: "Hero";
}

.title {
  font-size: 28px;
}

.read-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

input[type="email"],
input[type="text"] {
  font-family: "Hero";
  width: 100%;
  max-width: 350px;
  border: 1px solid $primary;
  outline: none;
  padding: 8px;
  font-size: 20px;
  padding: 10px 0;

  &.with-icon {
    padding-left: 40px;
  }

  &::placeholder {
    color: $grey;
  }

  &:focus {
    border-color: $info;
  }
}

.button {
  color: transparent;
  border: none;
  outline: none;
  color: $black;
  font-family: "Hero";
  font-size: 20px;
  width: 100%;
  max-width: 350px;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  &.secondary {
    background-color: $secondary;
    color: $white;
  }

  &.outline {
    border: 2px solid $black;
    background-color: transparent;
    color: $black;
  }

  &:disabled,
  &:focus,
  &:active,
  &:visited {
    color: $black;
    background-color: $grey;
    border-color: $grey;
    opacity: .65;
  }
}