/*
* Font - Hero
*/

@font-face {
  font-family: 'Hero';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Hero/regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Hero';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Hero/bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Hero';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Hero/light.ttf);
  font-display: swap;
}

/*
* Font - Roboto
*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Roboto/light.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/Roboto/light-italic.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Roboto/regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/Roboto/italic.ttf);
  font-display: swap;
}