.highlight {
  background-color: #282c34;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #f5f5f5;
  display: block;
  font-size: 13px;
  line-height: 1.42857143;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__header {
    align-items: center;
    background-color: #282c34;
    border-bottom: 1px solid rgb(107, 107, 107);
    display: flex;
    font-family: "Hero";
    height: 40px;
    justify-content: flex-start;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 0;
    width: 100%;

    &__text {
      color: #f5f5f5;
      font-weight: 500 !important;
      margin-bottom: 0 !important;
      position: absolute;
    }
  }

  &__body {
    font-family: "Menlo",
      "Monaco",
      "Courier New",
      "Courier",
      "monospace";

    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    tab-size: 2;
    width: 100%;
  }

  &::after {
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    content: '';
    display: flex;
    height: 30px;
    justify-content: center;
    min-width: 30px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 20px;
    top: 0;
    width: max-content;
  }

  &[data-language='js'],
  &[data-language='javascript'] {
    &::after {
      background-color: #f0db4f;
      color: #2c3435;
      content: 'JavaScript';
    }
  }

  &[data-language='react'] {
    &::after {
      background-color: #60dafb;
      color: #2c3435;
      content: 'React';
    }
  }

  &[data-language='typescript'] {
    &::after {
      background-color: #007acc;
      color: #ebebeb;
      content: 'TypeScript';
    }
  }

  &[data-language='node'] {
    &::after {
      background-color: #3c873a;
      color: #ebebeb;
      content: 'Node';
    }
  }

  &[data-language='mongodb'] {
    &::after {
      background-color: #3fa037;
      color: #ebebeb;
      content: 'MongoDB';
    }
  }

  &[data-language='css'] {
    &::after {
      background-color: #264de4;
      color: #ebebeb;
      content: 'CSS';
    }
  }

  &[data-language='scss'] {
    &::after {
      background-color: #cc6699;
      color: #ebebeb;
      content: 'SCSS';
    }
  }

  &[data-language='html'] {
    &::after {
      background-color: #e34c26;
      color: #ebebeb;
      content: 'HTML';
    }
  }

  &[data-language='bash'] {
    &::after {
      background-color: #ebebeb;
      color: #2c3435;
      content: 'Bash';
    }
  }

  &[data-language='md'] {
    &::after {
      background-color: #2B9EEA;
      color: #ebebeb;
      content: 'MarkDown';
    }
  }

  &[data-language='yaml'] {
    &::after {
      background-color: #CB171E;
      color: #ebebeb;
      content: 'Yaml';
    }
  }
}

.hljs-comment,
.hljs-quote {
  color: #7f848e;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #d19a66;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #98c379;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}

.hljs-type {
  color: #da4939;
}

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}

.hljs-params {
  color: #e06c75;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #9b859d;
}

.hljs-title,
.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #e06c75;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}