$size-xxs: 15px;
$size-xs: 20px;
$size-md: 25px;
$size-lg: 30px;
$size-xlg: 35px;
$size-xxlg: 40px;

$margin-xxs: 5px;
$margin-xs: 10px;
$margin-md: 15px;
$margin-lg: 20px;
$margin-xlg: 25px;
$margin-xxlg: 30px;
$margin-hero: 50px;

$box-shadow: 5px 5px 9px 3px $grey;