$size-xxs: 12px;
$size-xs: 14px;
$size-md: 16px;
$size-lg: 20px;
$size-xlg: 24px;
$size-xxlg: 30px;

$margin-xxs: 5px;
$margin-xs: 10px;
$margin-md: 15px;
$margin-lg: 20px;
$margin-xlg: 25px;
$margin-xxlg: 30px;
$margin-hero: 50px;

$box-shadow: $margin-xxs $margin-xxs $margin-xs $margin-xxs $grey;
