@import '../../assets/scss/colors.scss';

.nav {
	background-color: $white-color;
	color: $blue-color;

	&__inner {
		display: flex;
		flex-direction: column;
		padding-bottom: 14px;
		padding-top: 14px;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;

		@media (min-width: 992px) {
			flex-direction: row;
			justify-content: space-between;
			padding-left: 80px;
			padding-right: 80px;
		}

		&__container {
			align-items: center;
			display: flex;
			justify-content: space-between;

			&__logo {
				&__link {
					&__img {
						max-width: 50px;
					}
				}
			}

			&__icon {
				&__container {
					font-size: 30px;
				}

				@media (min-width: 992px) {
					display: none;
				}
			}
		}

		&__menu {
			display: none;

			@media (min-width: 992px) {
				display: flex;
			}

			&.active {
				display: block;
				justify-content: center;
			}

			&__content {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				list-style: none;
				height: 90px;
				padding-left: 0;
				margin-bottom: 0;
				text-transform: lowercase;
				width: 100%;

				@media (min-width: 992px) {
					display: flex;
					flex-direction: row;
					align-items: center;
					padding-left: 0;
					padding-bottom: 0;
					width: 200px;
				}

				&__item {
					width: 100%;

					&:not(:first-child) {
						@media (min-width: 992px) {
							padding-top: 0;
						}
					}

					&__link {
						display: block;
						color: $blue-color;
						font-size: 22px;
						text-decoration: none;

						&:hover {
							color: $orange-color;
							text-decoration: none;
						}

						&.current {
							color: $orange-color;
						}
					}
				}
			}
		}
	}
}
