@import '../../assets/scss/colors';
@import '../../assets/scss/mixins/fonts';

.container {
	color: $black-color;
	margin-bottom: 40px;
	margin-top: 20px;

	&__header {
		margin-bottom: 20px;

		&__title {
			@include fonts-header-title(1.25);

			color: $darkblue_color;
			line-height: 0.5;
			margin: 0;
			text-transform: uppercase;
		}

		&__subtitle {
			@include fonts-header-subtitle(1.15);

			color: $orange-color;
			margin: 0;
			line-height: normal;
		}
	}

	&__content {
		@include fonts-body-text(0.875);

		@media (min-width: 1200px) {
			font-size: 1rem;
			line-height: 1.4;
		}

		strong {
			font-weight: 500;
		}

		a {
			font-weight: 400;
			text-decoration: none;
			color: $orange-color;

			&:hover {
				text-decoration: none;
				color: $orange-color;
			}
		}

		blockquote {
			@include poppins-font;

			position: relative;
			font-family: inherit;
			font-style: italic;
			font-weight: normal;
			font-size: 1rem;
			padding-top: 1rem;
			padding-left: 1rem;
			line-height: 2;
			text-align: center;

			@media (min-width: 1200px) {
				margin-left: auto;
				margin-right: auto;
				width: 60%;
			}

			&:before {
				color: $green-color;
				position: absolute;
				top: -0.5em;
				left: -0.05em;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				content: '\f10d';
				right: unset;
				font-size: 6em;
				opacity: 0.3;
			}

			cite {
				@include roboto-font;

				display: block;
				font-weight: bold;
				font-size: 0.8em;
				margin-top: 1em;

				&:before {
					content: '- ';
				}
			}
		}
	}
}
